.App {
  text-align: center;
  background-color: red;
  border-radius: 40px;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 25px;
  padding-top: 5px;
  margin-top: 30px;
}

html{
  background-color: black;
}

h1{
  color: blue;
}

li{
  color: white;
}
